@{ 
    ViewData["Title"] = "ABOUT";
}
<h1>@ViewData["Title"]</h1>
<br /><br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol>
                <li>FriendConnector is a Free Website</li>
                <li>Here You are Welcomed to Join</li>
                <li>All Our services are Free of Costs</li>
                <li>This is a Free Message Sending Website</li>
                <li>Here You can Exchange Messages with Your Friends and Family</li>
                <li>You can Search for Your Friends and Add them</li>
                <li>You can Post Your Photos and Videos on Your Account for Free</li>
            </ol>
        </div>
        
    </div>
</div>