@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>
<br /><br />
<address>
    Click to Email Us---> <a href="mailto:aabir181@gmail.com">Email Us</a><br />
    Visit Us at:<br />
    Independent University, Bangladesh (IUB)
</address>