@{
    ViewData["Title"] = "TERMS";
}
<h1>@ViewData["Title"]</h1>
<br /><br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol>
                <li>FriendConnector is a Free to use Website</li>
                <li>Here You held all the liabilites of any Time Wastings</li>
                <li>You should not bully or try to harm any other users within the system</li>
                <li>We reserve the rights to terminate any user accounts if he/she has violated our terms</li>
                <li>No user is allowed to make a Duplicate Account using the same Email Address</li>
                <li>Only one account per email address is allowed to create</li>
                <li>All user informations gathered during the registration process are used to verify User identity whenever the User forgets 
                their Login Password</li>
                <li>We do not sell our users personal informations to others</li>
                <li>All the messages that you send and receive to/from your Freinds and Family are Private and Secured</li>
                <li>We do not Allow any Unauthorised access to our User's Accounts</li>
            </ol>
        </div>

    </div>
</div>