@model IEnumerable<SocialMedia.Models.Message>
@{
    Layout = "_Layout";
}

<div class="chat-body">



    <div class="message">
        <header></header>
        <p></p>
        <footer></footer>
    </div>

    <div class="message">
        <header></header>
        <p>
            
        </p>
        <footer></footer>
    </div>

    <div class="message">
        <header></header>
        <p></p>
        <footer></footer>
    </div>

</div>


<div class="chat-input">
    <input type="text" />
    <button type="button" class="btn btn-primary">Send</button>
</div>